@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

.App {
    text-align: center;
}

/* Font, size, and weight for everything */
p {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.2px;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

h2 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 900;
}

h5 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    line-height: 30px;
}

h6 {
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}